{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vankosoft_org.template.page_title_blog_snippet_update' | trans( {},'VankoSoftOrg' ) ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vankosoft_org.template.page_title_blog_snippet_create' | trans( {},'VankoSoftOrg' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="fas fa-code"></i> 
        {{ pageTitle }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vankosoft_org.template.page_title_blog_snippet'  | trans( {},'VankoSoftOrg' ) }}</h5>
            	<div class="card-body">
            	
                    {% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'form-post'}, 'method': formMethod }) }}
            
                        {% if formErrors is defined %}
                            {{ vs_form.errors( formErrors ) }}     
                        {% endif %}
    					
                        {% if item.id %}{% set itemId = item.id %}{% else %}{% set itemId = 0 %}{% endif %}
                        {% set comboDataSourceUrl  = url('vsorg_blogsnippets_tree_combo_with_selected', {'snippetId': itemId, 'taxonomyId': taxonomyId}) %}
                        {% set comboTreePlaceholder = 'vankosoft_org.form.category_placeholder' | trans( {},'VankoSoftOrg' ) %}
                        {% set comboDataOptions    = "
                        		url:'" ~ comboDataSourceUrl ~ 
                        		"', required:true, prompt:'" ~ comboTreePlaceholder ~"',
                        		onBeforeLoad:function( node ) {
                        		    //showSpiner
                        		},
                        		onLoadSuccess:function( node ) {
                        			$( '#blog_snippet_form_category_taxon' ).combotree( 'setValue', $( '#blog_snippet_form_category_taxon' ).attr( 'data-value' ) );
                        			//hideSpiner
                        		}
                        " %}
                        <div class="form-group">
                            {{ form_label(form.category_taxon, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            {{ form_widget(form.category_taxon, {
                                'attr': {
                                    'class': 'easyui-combotree',
                                    'data-options': comboDataOptions,
                                    'data-value': item.category ? item.category.taxon.id : null
                                }
                            }) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                        	{{ form_label(form.text, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
            			{{ vs_form.buttons( form, metadata is defined ? metadata : null ) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/snippets_edit', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/snippets_edit', null, 'VelzonTheme' ) }}
{% endblock %}
