{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vankosoft_org.template.page_title_downloads_directories' | trans( {},'VankoSoftOrg' ) }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="fas fa-download"></i> 
        {{ 'vankosoft_org.template.page_title_downloads_directories' | trans( {},'VankoSoftOrg' ) }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            {% if items|length > 0 %}
                {% include 'Pages/DownloadDirectories/partial/simpleTreeTable.html.twig' %}
            {% else %}
                {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
            {% endif %}
            
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	{{ encore_entry_link_tags( 'js/download-directories', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/download-directories', null, 'VelzonTheme' ) }}
{% endblock %}
