{% extends 'base.html.twig' %}

{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <header class="panel-heading"><h3><strong>Projects</strong></h3></header>
          </div>

            <div class="row" style="margin: 0 0 30px 0">
                <div class="col-10">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="btnCreateCategory" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-category-modal">
                            Create Category
                        </button>
                        <div class="btn-space"></div>
                        
                        <button id="btnCreateProject" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-modal">
                            Create Project
                        </button>
                        <div class="btn-space"></div>
                        
                        <button id="btnInstallThirdPartyProject" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-third-party-modal">
                            Install Third Party Project
                        </button>
                        <div class="btn-space"></div>
                        
                        
                    </div>
                </div>
                <div class="col-2">
                      <button id="btnTestJqueryTerminal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-third-party-modal">
                        Test Jquery Terminal
                    </button>
                    <div class="btn-space"></div>
                </div>
            </div>
            
            
          <div class="row">
		    <div class="col-lg-12">
		    	<div id="submitMessage" class="card bg-success text-white shadow mb-2" style="display:none;">
                    <div class="card-body"></div>
                </div>
		        <section id="sectionProjects" class="panel">
		        	{% for cat in categories %}
			        	<div class="card shadow mb-4">
		                	<!-- Card Header - Accordion -->
		                	<a href="#collapseCategory_{{ cat.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCategory_{{ cat.id }}">
		                  		<h6 class="m-0 font-weight-bold text-primary">{{ cat.name }}</h6>
		                	</a>
		                	<!-- Card Content - Collapse -->
		                	<div class="collapse" id="collapseCategory_{{ cat.id }}">
		                  		<div class="card-body">
		                    		{% include 'Pages/projects/table_projects.html.twig' with {'projects': cat.projects} %}
		                  		</div>
		                	</div>
		              	</div>
		            {% endfor %}
		        </section>
		    </div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}

{% block modals %}
	{{ parent() }}
	
  	<!-- Create Project Modal-->
	{% include 'Modals/project_create.html.twig' %}
	{% include 'Modals/project_delete.html.twig' %}
	{% include 'Modals/category_create.html.twig' %}
	{% include 'Modals/project_install.html.twig' %}
	{% include 'Modals/project_install_manual.html.twig' %}
	{% include 'Modals/project_third_party_create.html.twig' %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pages/projects_third_party', null, 'MyProjects_VelzonDefault' ) }}
    {{ encore_entry_link_tags( 'js/pages/test_jquery_terminal', null, 'MyProjects_VelzonDefault' ) }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	
    {{ encore_entry_script_tags( 'js/pages/projects', null, 'MyProjects_VelzonDefault' ) }}
    {{ encore_entry_script_tags( 'js/pages/projects_third_party', null, 'MyProjects_VelzonDefault' ) }}
    {{ encore_entry_script_tags( 'js/pages/test_jquery_terminal', null, 'MyProjects_VelzonDefault' ) }}
{% endblock %}

