<div id="install-php-version-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-actionUrl="{{ url( 'php-versions-install' ) }}">
    <div class="modal-dialog install-php" role="document">
        <div class="modal-content">
            <div class="modal-header">
          		<h5 class="modal-title"><span id="lablePhpVersion">Select Version and Varians(PHP Extensions) and Run the Installation.</span></h5>
        	</div>
        	
            <div class="modal-body">
                
                <form id="formPhpInstall">

                    <div class="row mb-2">
                        <div class="col-sm form-group">
                            <label>Php Version: </label>
                            <select class="form-select select-button phpVersionFormInput" name="version">
                                <option value="">-- Select Php Version --</option>
                            {% for version, minor_versions in versions_available %}
                                <optgroup label="{{ version }}">
                                {% for minor in minor_versions|keys %}
                                	{% if 'php-' ~ minor not in versions_installed|keys %}
                                    	<option value="{{ minor }}">{{ minor }}</option>
                                    {% endif %}
                                {% endfor %}
                                </optgroup>
                            {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-sm form-group">
                            <label>PhpBrew Variants: </label>
                            <select id="phpbrewVariants" class="form-select custom-select" name="phpBrewVariants[]" size="3" multiple>
                                {% for variant in phpbrew_variants %}
                                    <option value="{{ variant }}">{{ variant }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-sm form-group">
                            <label>Php Extensions: </label>
                            <select id="phpExtensions" class="form-select custom-select" name="phpExtensions[]" size="3" multiple>
                            	{% for extName, ext in phpbrew_extensions %}
                            		<option value="{{ ext }}">{{ extName }}</option>
								{% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-sm form-group">
                            <label>Custom Name: </label>
                            <input type="text" class="form-control phpVersionFormInput" name="phpBrewCustomName" placeholder="-- Enter CustomName --" style="width: 210px;" />
                            
                            <a class="btn btn-info btn-circle helpTooltip"
                                href="javascript:void(0);"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="
                                    You can specify a custom name instead of the default `php-7.x.x`.
                                    The installed path will be For example, `php-7.x.x-YourCustomName`
                                "
                            >
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>

                        <div class="col-sm form-group"></div>
                        <div class="col-sm form-group"></div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-sm form-group">
                            <input type="checkbox" name="displayBuildOutput" value="True" checked="checked" />
                            <label>Display build output</label>
                        </div>
                    	<div class="col-sm form-group">
                            <input type="checkbox" name="useGithub" value="False" />
                            <label>Download Extensions from Github If Defined</label>
                        </div>
                        <div class="col-sm form-group"></div>
                    </div>
                    
        		</form>
        		
        		<div id="commandPhpVersion" class="mb-2"></div>
        			
                <div class="console" id="consolePhpInstall">
                    <div id="phpInstallContainer"></div>
                </div>
        
        	</div>
        	<div class="modal-footer">
        		<button id="btnRunPhpInstall" type="button" class="btn btn-primary">Run Install</button>
          		<button id="btnClosePhpInstall" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
