{% extends 'base.html.twig' %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: Projects{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="fas fa-project-diagram"></i> 
        Projects
    </h4>
{% endblock %}

{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
        <div class="row" style="margin: 0 0 30px 0">
            <div class="col-10">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="btnCreateCategory" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-category-modal">
                        Create Category
                    </button>
                    <div class="btn-space"></div>
                    
                    <button id="btnCreateProject" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-modal">
                        Create Project
                    </button>
                    <div class="btn-space"></div>
                    
                    <button id="btnInstallThirdPartyProject" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-third-party-modal">
                        Install Third Party Project
                    </button>
                    <div class="btn-space"></div>
                    
                    
                </div>
            </div>
            <div class="col-2">
                <button id="btnTestJqueryTerminal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project-third-party-modal">
                    Test Jquery Terminal
                </button>
                <div class="btn-space"></div>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-lg-12">
            	<div id="submitMessage" class="card bg-success text-white shadow mb-2" style="display:none;">
                    <div class="card-body"></div>
                </div>
                
                <!-- Accordions Bordered -->
                <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">
                	{% for cat in categories %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="accordionbordered_{{ cat.id }}">
                                <button class="accordion-button" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accor_borderedExamplecollapse_{{ cat.id }}"
                                    aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}"
                                    aria-controls="accor_borderedExamplecollapse_{{ cat.id }}"
                                >
                                    {{ cat.name }}
                                </button>
                            </h2>
                            <div id="accor_borderedExamplecollapse_{{ cat.id }}"
                                class="accordion-collapse collapse{% if loop.index == 1 %} show{% endif %}"
                                aria-labelledby="accordionbordered_{{ cat.id }}"
                                data-bs-parent="#accordionBordered"
                            >
                                <div class="accordion-body">
                                    {% include 'Pages/projects/table_projects.html.twig' with {'projects': cat.projects} %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}

{% block modals %}
	{{ parent() }}
	
  	<!-- Create Project Modal-->
	{% include 'Modals/project_create.html.twig' %}
	{% include 'Modals/project_delete.html.twig' %}
	{% include 'Modals/category_create.html.twig' %}
	{% include 'Modals/project_install.html.twig' %}
	{% include 'Modals/project_install_manual.html.twig' %}
	{% include 'Modals/project_third_party_create.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pages/projects_third_party', null, 'MyWebProjects_VelzonDefault' ) }}
    {{ encore_entry_link_tags( 'js/pages/test_jquery_terminal', null, 'MyWebProjects_VelzonDefault' ) }}
{% endblock %}

{% block body_scripts %}
	{{ parent() }}
	
    {{ encore_entry_script_tags( 'js/pages/projects', null, 'MyWebProjects_VelzonDefault' ) }}
    {{ encore_entry_script_tags( 'js/pages/projects_third_party', null, 'MyWebProjects_VelzonDefault' ) }}
    {{ encore_entry_script_tags( 'js/pages/test_jquery_terminal', null, 'MyWebProjects_VelzonDefault' ) }}
{% endblock %}

