{% extends "@VSApplication/layout.html.twig" %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vankosoft_org.template.page_title_project_payments_index'  | trans( {},'VankoSoftOrg' ) }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="icon_genius"></i> 
        {{ 'vankosoft_org.template.page_title_project_payments_index'  | trans( {},'VankoSoftOrg' ) }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% include 'Pages/ProjectPayments/payments-table.html.twig' %}
            
            {% if resources.haveToPaginate() %}
                {{ pagerfanta( resources, null, { 'proximity': 10 } ) }}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %} 
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/project-payments', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/project-payments', null, 'VelzonTheme' ) }}
{% endblock %}
