{{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'add-payment-for-project-form'}, 'method': 'POST', 'action': path( 'vsorg_projects_payments_add', {'projectId': project.id} ) }) }}
    {{ form_widget( form.project ) }}
    
    <div class="form-group">
        {{ form_label(form.amount, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.fromDate, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.fromDate, {'attr': {'class': 'form-control js-datepicker'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.toDate, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        {{ form_widget(form.toDate, {'attr': {'class': 'form-control js-datepicker'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.description, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
{{ form_end(form, {'render_rest': false}) }}