{{ form_start( form, {'attr': {'id': 'formProjectThirdParty'}} ) }}
    {{ form_widget(form._token) }}
    
    <ul class="nav nav-tabs">
        <li><a class="active" href="#project-general" data-toggle="tab">General</a></li>
        <li><a href="#project-predefined" data-toggle="tab">Setup Predefined</a></li>
        <li><a href="#project-vhost" data-toggle="tab">Apache VirtualHosts</a></li>
    </ul>
    
    <div id="projectTabContent" class="tab-content projectTabContent">
        <div class="tab-pane fade active show" id="project-general">
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.description) }}
            {{ form_row(form.projectRoot) }}
            {{ form_row(form.projectUrl) }}
        </div>
        <div class="tab-pane" id="project-predefined">
        	<frameset>
                {{ form_row(form.predefinedType) }}
            </frameset>
            <fieldset class="predefinedProjectFormContainer">
            	<legend>Predefined type Properties</legend>
            	<div id="predefinedProjectProperties"></div>
            </fieldset>
        </div>
        <div class="tab-pane fade" id="project-vhost">
        	<ul>
        		{% for host in project.hosts %}
			        <li id="li_{{ host.host }}">
			        	{{ host.host }}
			        	<a class="btnDeleteHost" href="javascript:void(0);" data-host="{{ host.host }}">
				        	<img
	                			class="project-remove-host-icon ml-2" 
	                			src="{{ asset('assets/default/build/img/close.svg') }}" 
	                			alt="Remove"
	                		/>
                		</a>
			        </li>
			    {% endfor %}
        	</ul>
        </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}
