<div id="install-php-version-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-actionUrl="{{ url( 'php-versions-install' ) }}">
    <div class="modal-dialog install-php" role="document">
        <div class="modal-content">
            <div class="modal-header">
          		<h5 class="modal-title"><span id="lablePhpVersion">Select Version and Varians(PHP Extensions) and Run the Installation.</span></h5>
        	</div>
        	
            <div class="modal-body">
                
                <form id="formPhpInstall">

                    <div class="form-row mb-2">
                        <div class="col-sm form-group">
                            <label>Php Version: </label>
                            <select class="form-control select-button phpVersionFormInput" name="version">
                                <option value="">-- Select Php Version --</option>
                            {% for version, minor_versions in versions_available %}
                                <optgroup label="{{ version }}">
                                {% for minor in minor_versions|keys %}
                                    <option value="{{ minor }}">{{ minor }}</option>
                                {% endfor %}
                                </optgroup>
                            {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-sm form-group">
                            <label>PhpBrew Variants: </label>
                            <select id="phpbrewVariants" class="form-control custom-select" name="phpBrewVariants[]" size="3" multiple>
                                {% for variant in phpbrew_variants %}
                                    <option value="{{ variant }}">{{ variant }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-sm form-group">
                            <label>Custom Name: </label>
                            <input type="text" class="form-control phpVersionFormInput" name="phpBrewCustomName" placeholder="-- Enter CustomName --" style="width: 210px;" />
                            <a class="btn btn-info btn-circle btn-sm helpTooltip" style="left: 220px;" data-toggle="tooltip" href="javascript:void(0);" data-tooltip-content="#phpbrewCustomName" >
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                        
                        <div class="col-sm form-group">
                        
                        </div>
                        
                        <div class="col-sm form-group">
                        
                        </div>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="col-sm form-group">
                            <input type="checkbox" name="displayBuildOutput" value="True" checked="checked" />
                            <label>Display build output</label>
                        </div>
                        <div class="col-sm form-group"></div>
                        <div class="col-sm form-group pt-2">
                            <input type="submit" class="btn btn-primary form-control w-25 ml-5" value="Run" />
                        </div>
                        
                        <div class="col-sm form-group"></div>
                    </div>
                    
        		</form>
        		
        		<div id="commandPhpVersion" class="mb-2"></div>
        			
                <div class="console" id="consolePhpInstall">
                    <div id="phpInstallContainer"></div>
                </div>
        
        	</div>
        	<div class="modal-footer">
          		<button id="btnClosePhpInstall" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
