{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vankosoft_org.template.page_title_blog_post_update' | trans( {},'VankoSoftOrg' ) ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vankosoft_org.template.page_title_blog_post_create' | trans( {},'VankoSoftOrg' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="fas fa-blog"></i> 
        {{ pageTitle }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vankosoft_org.template.page_title_blog_post'  | trans( {},'VankoSoftOrg' ) }}</h5>
            	<div class="card-body">
            	
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
                        
            		<div id="FormContainer" data-itemId="{{ item.id }}">
                        {% include 'Pages/BlogPosts/blogpost_form.html.twig' %}
                    </div>
            		
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block head_styles %}	
	{{ parent() }}
	{{ encore_entry_link_tags( 'js/posts-edit', null, 'VelzonTheme' ) }}
	
	{{ encore_entry_link_tags( 'ckeditor5', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags( 'js/posts-edit', null, 'VelzonTheme' ) }}
    
    {{ encore_entry_script_tags( 'ckeditor5', null, 'VelzonTheme' ) }}
{% endblock %}
