
{{ form_row(form.appName) }}
{{ form_row(form.projectPath) }}
{{ form_row(form.venvPath) }}
{{ form_row(form.scriptAlias) }}

<div class="row">
	<div class="col-sm">{{ form_row(form.user) }}</div>
	<div class="col-sm">{{ form_row(form.group) }}</div>
	<div class="col-sm">{{ form_row(form.processes) }}</div>
	<div class="col-sm">{{ form_row(form.threads) }}</div>
</div>
