{{ form_start( form, {'attr': {'id': 'formProject'}} ) }}
    <div class="modal-header">
        <h5 class="modal-title">Create Virtual Host</h5>
    </div>
    <div class="modal-body">
        <div id="errorMessage" class="card alert alert-danger shadow mb-2" style="display:none;">
            <div class="card-body"></div>
        </div>
        
        {{ form_widget(form._token) }}
        
        {{ form_row(form.project) }}
        {{ form_row(form.hostType) }}
        {{ form_row(form.host) }}
        {{ form_row(form.documentRoot) }}
        {{ form_row(form.withSsl) }}
        
        <fieldset class="border p-2">
			<legend  class="w-auto">Options</legend>
			<div id="optionsContainer" data-url="{{ path( 'virtual-hosts-options-form' ) }}"></div>
			
        	{# 
        	{{ form_row( form.options ) }}
        	#}
        	
        	{#
        	{{ form_row(form.options.vars.prototype.key) }}
        	{{ form_row(form.options.vars.prototype.value) }}
        	{% for opt in form.options %}
            	{{ form_row( opt.key ) }}
            	{{ form_row( opt.value ) }}
			{% endfor %}
			#}
        </fieldset>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
{{ form_end(form, {'render_rest': false}) }}
