{{ form_start( form, {'attr': {'id': 'formPhpbrewExtension'}} ) }}
    {{ form_widget(form._token) }}
    
    <div class="tab-pane fade active show" id="project-general">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.githubRepo) }}
        {{ form_row(form.branch) }}
    </div>
{{ form_end(form, {'render_rest': false}) }}
